<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css")
        title 關於寄宿
    body
        //- 頁首
        header
            nav
                ul
                    li
                        a(href="#aaa" class="bottom") 動機＆理念
                    li
                        a(href="#ggg" class="bottom") 繪本與週邊
                    li
                        a(href="#jjj" class="bottom") 知識分享
                    li
                        a(href="#nnn" class="bottom") 相關連結     
            
        //- 動機
        section(id="aaa")
            div(id="bbb")
                div(class="ccc")
                    p 隨著「養寵物」日漸盛行,流浪動物也因為飼主不當的飼養與棄養,數量越來越多。我們希望藉由繪本形式,讓孩童能培養正確的觀念,從根本解決流浪動物形成的主因。
                div(class="ccc")
                    img(src="bobo.png", alt="")

        //- 理念
        section(id="ddd")
            div(id="eee")
                div(class="fff")
                    img(src="aoao.png", alt="")
                div(class="fff")
                    p 「記宿」繪本作為設計主軸從「寄宿」聯想,相比人類有幾十年的壽命,寵物短暫的㇐生,更像是來借宿的。結合繪本內容,主角的敘述,希望人類能記住和重視,這些生命中與你生活過的住客。
        //- 繪本與週邊
        section(id="ggg")   

        //- 知識分享
        section(id="jjj")
            h1 知識分享
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, aperiam!
            div(id="lll")
                div(class="mmm")
                    h3 ssssssssssssss
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas blanditiis repellat debitis accusantium ipsum distinctio? Temporibus quia eos, aspernatur deleniti, quibusdam sint, facilis placeat repellendus ipsum quas vel impedit. Vitae!
                div(class="mmm")
                    h3 ssssssssssssss
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, quaerat illum dolore commodi facere, earum magnam totam ullam natus provident incidunt voluptates dignissimos quasi ipsa reprehenderit eligendi voluptate minima aperiam.
                div(class="mmm")
                    h3 ssssssssssssss
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est exercitationem iusto dignissimos, necessitatibus accusantium error consequatur quasi ab sed at non? Eaque quidem incidunt fugit quos eveniet nisi ex commodi!

        //- 相關連結
        section(id="nnn")
            h1 相關連結
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, vitae.
            div(id="ppp")
                div(class="qqq")
                    a(href="https://asms.coa.gov.tw/Amlapp/App/Default.aspx" target="_blank")
                        img(src="ho5.jpg", alt="")
                    div(class="rrr")
                        a(href="https://asms.coa.gov.tw/Amlapp/App/Default.aspx" target="_blank")
                            h3 桃園市動物保護教育園區
                        p 
                         | 新屋區永興里三鄰大牛欄117號
                         br
                         | Tel: 03 486 1760
                div(class="qqq")
                    a(href="http://taw.efarm.org.tw/X00_index.aspx" target="_blank")
                        img(src="ho4.jpg", alt="")
                    div(class="rrr")
                        a(href="http://taw.efarm.org.tw/X00_index.aspx" target="_blank")
                            h3 元氣動物醫院
                        p 
                         | 桃園市桃園區三民路三段381號 
                         br
                         | Tel :03 333 3816
                    
                div(class="qqq")
                    a(href="https://thara.eoffering.org.tw" target="_blank")
                        img(src="ho3.jpg", alt="")
                    div(class="rrr")
                        a(href="https://thara.eoffering.org.tw" target="_blank")
                            h3 友信動物醫院
                        p 
                         | 桃園市中壢區廣安街10號
                         br
                         | Tel:03 280 4527
                    
                   
                div(class="qqq")
                    a(href="https://animal.tycg.gov.tw" target="_blank")
                        img(src="ho2.jpg", alt="")
                    div(class="rrr")
                        a(href="https://animal.tycg.gov.tw" target="_blank")
                            h3 思邁爾動物醫院
                        p 
                         | 桃園區莊敬路二段100巷3號
                         br
                         | Tel :03 302 9995
                    
                   
                div(class="qqq")
                    a(href="http://www.hsapf.org.tw/?fbclid=IwAR3kh4Nfo-ELN1qQmlk-Nf3sm-cp3-7Ce-MyQrT0jRNoO1jb6fM-efLmMJM" target="_blank")
                        img(src="ho1.jpg", alt="")
                    div(class="rrr")
                        a(href="http://www.hsapf.org.tw/?fbclid=IwAR3kh4Nfo-ELN1qQmlk-Nf3sm-cp3-7Ce-MyQrT0jRNoO1jb6fM-efLmMJM" target="_blank")
                            h3 中壢太樸動物醫院
                        p 
                         | 桃園市中壢區中北51號 
                         br
                         | Tel:03 456 9911
                    
        //- 頁尾
        footer Copyright © 2019-2020 MiluCat All rights reserved.