*{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
// 頁首
header{
    background-color: rgb(249, 233, 207);
    height: 1000px;
    width: 1440px;
}
// 動機
#aaa{
    width: 1440px;
    height: 740px;
    background-color:rgb(244, 183, 152);
    #bbb{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap:95px;
        width: 1100px;
        margin: 100px auto;
        .ccc{
            p{
                font-size: 20px;
                width: 500px;
                height: 400px;
                color: black;
            }
            img{
                width: 500px;
            }
        }
    }
}

// 理念
#ddd{
    width: 1440px;
    height: 740px;
    background-color:rgb(160,199,224);
    #eee{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap:95px;
        width: 1100px;
        margin: 100px auto;
        .fff{
            p{
                font-size: 20px;
                width: 500px;
                height: 400px;
                color: black;
            }
            img{
                width: 500px;
            }
        }
    }
}

// 繪本與週邊
#ggg{
    width: 1440px;
    height: 740px;
    background-color:rgb(244, 183, 152);

}

// 知識分享
#jjj{
    height: 740px;
    background-color: rgb(160,199,224);
    #kkk{
        height: 100px;
        width: 400px;
        margin: 10px auto;
        background-color: pink;
    #lll{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:30px;
        width: 1100px;
        margin: 100px auto;
        .mmm{
            width: 150px;
            height: 400px;
        }
    }
}

footer{
    height: 150px;
    text-align: center;
    line-height: 1.5;
    font-size: 30px;
    background-color: rgb(235, 215, 176);
}
