*{
    border: 0px solid black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(235, 215, 176);
    height: 100px;
    position: relative;
}
.logo{
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;    
}

#www{
    width: 1432px;
    height: 700px;
}


.eee{
    height: 80vh;
    background-color:rgb(217, 130, 81);
    padding-top:180px; 
    .eee1{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap:95px;
        width: 1100px;
        margin: 0 auto;
        .rrr{
            p{
                font-size: 20px;
                width: 500px;
                height: 400px;
                color: #FFDFBA;
            }
            img{
                width: 500px;
            }
        }
    }
}

.fff{
    height: 80vh;
    background-color:rgb(80, 101, 116);
    padding-top:180px; 
    .fff1{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap:95px;
        width: 1100px;
        margin: 0 auto;
        .ggg{
            p{
                font-size: 20px;
                width: 500px;
                height: 400px;
                color: #FFDFBA;
            }
            img{
                width: 500px;
            }
        }
    }
}

.hhh{
    height: 80vh;
    background-color: rgb(217, 130, 81);
    padding-top: 90px;
    .sss{
        height: 400px;
        width: 400px;
        margin: 70px auto;
        // background-color: pink;
        h1{
            font-size: 80px;
            text-align: center;
            padding-top: 20px;
        }
        p{
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
        }
        .mmm{
            display: block;
            margin: 20px auto;
            text-align: center;
            text-decoration: none;
            color:black;
            background-color: #fff;
            width: 200px;
            font-size: 30px;
            border-radius: 10px;
        }
    }
}

footer{
    height: 150px;
    text-align: center;
    line-height: 1.5;
    font-size: 30px;
    background-color: rgb(235, 215, 176);
}